<div class="my-3">
    <h5 [ngClass]="{'strike':!todo.active}">{{todo.title}}</h5>
    <p>todo-item works! {{todo.sno}} - {{todo.title}}</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault{{i}}" (click)="onCheckBoxClick(todo)" [checked]="!todo.active" >
        <label class="form-check-label" for="flexCheckDefault">
          Mark As Done
        </label>
      </div>      
    <button class="btn btn-lg btn-danger" (click)="onClick(todo)">Delete</button>
    <!-- <button class="btn btn-primary" (click)="onClickForm(false)" ng-show="!showForm" > Create</button> -->
    <ng-template [ngIf]="showForm">
      <!-- <form ng-show="showForm">
      First Name: <input type="text" ng-model="firstname">
   </form>  -->
  </ng-template>    
  <app-update-todo [todo]="todo" ></app-update-todo>
</div>